<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CM4-Nano-Cam</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/mystyles.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="/static/boogi_script.js"></script>

</head>
<body style="background-color: #121212; color: white;">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7" style="padding: 0;">
            <div class="camContainer" style="background-color: #333333; padding: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.5); margin-bottom: 20px; border->
                <h1 style="margin-bottom: 10px; padding-bottom: 10px;">Streaming</h1>
                <span id="rntime" class="rnt" style="display: block; font-size: 18px; margin-bottom: 10px; padding-bottom: 10px;"></span>
                <br>
                <div class="innerCam">
                    <img src="{{'cam'}}" style="width: 100%; height: auto; border-radius: 4px;">
                </div>
		<!--
                <button id="StartR" type="button" title="record video file" onclick="window.open('/startRec.html', 'infstate'); return false;" class="btn_>
                <br>
                <br>
                <button id="StopR" type="button" title="record video file" onclick="window.open('/stopRec.html', 'infstate'); return false;" class="btn_so>
                <br>
                <br>
                <button id="Snap" type="button" title="take jpg file" onclick="window.open('/snap.html', 'infstate'); return false;" class="btn_source" st>
                <br>
                <br>
                <button id="Sound" type="button" title="record wav file" onclick="window.open('/srecord.html', 'infstate'); return false;" class="btn_sour>
                <br>
                <br>
                <button id="Files" type="button" title="view files" onclick="window.open('/files.html', 'infstate'); return false;" class="btn_source" sty>
		-->
            </div>
        </div>

	<!--
        <div class="col-sm-3" style="padding: 0;">
            <div class="infoContainer" style="background-color: #333333; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.5); text-al>
                <h3 style="margin-bottom: 10px;">Info</h3>
                <div class="innerInfo">
                    <iframe src="info.html" width="300" height="220" style="border:none;" name="infstate"></iframe>
                </div>
            </div>
        </div>
	-->
    </div>
<script>
   window.onload = function timeNow() {
    var rntime = getTimeNow();

    // 12-hour format with AM/PM
    var date = new Date();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0' + minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;

    document.getElementById("rntime").innerHTML = strTime;

    setTimeout(timeNow, 1000); // Update time every second
  }

</script>

</body>
</html>
